body .filch {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/*
ie8 and lower separate desktop stylesheet approach from here:
http://jakearchibald.github.io/sass-ie/
*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: helvetica, arial, verdana, sans-serif;
  padding: 0px;
  margin: 0px;
  background: #5E5766 url(/img/background.png) repeat-x top left;
  color: #343238; }

a {
  color: #CFC7DE; }

a:hover {
  color: #E7DEF7; }

div#content > * {
  /*border:1px solid blue;*/ }

div#main {
  height: 600px;
  background: url(/img/top_back.jpg) no-repeat top center; }

div#content {
  width: 1000px;
  margin: 0px auto; }

h1 span {
  display: none; }

p#cc {
  font-size: 80%;
  line-height: 150%; }

ul#navigation {
  width: 707px;
  height: 54px;
  background: url(/img/navigation.png);
  margin: 21px 0px 0px 37px;
  padding: 0;
  position: relative; }

ul#navigation li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0; }

ul#navigation li, ul#navigation a {
  height: 54px;
  display: block; }

#nav1 {
  left: 0;
  width: 150px; }

#nav2 {
  left: 150px;
  width: 145px; }

#nav3 {
  left: 295px;
  width: 115px; }

#nav4 {
  left: 410px;
  width: 145px; }

#nav5 {
  left: 555px;
  width: 152px; }

#nav1 a:hover {
  background: transparent url(/img/navigation.png) 0 -54px no-repeat; }

#nav2 a:hover {
  background: transparent url(/img/navigation.png) -150px -54px no-repeat; }

#nav3 a:hover {
  background: transparent url(/img/navigation.png) -295px -54px no-repeat; }

#nav4 a:hover {
  background: transparent url(/img/navigation.png) -410px -54px no-repeat; }

#nav5 a:hover {
  background: transparent url(/img/navigation.png) -555px -54px no-repeat; }

div#strip {
  margin: 20px 0px; }
